{%extends 'groups/group_base.html'%}

{%block pregroup%}
    <h1>{{group.name}}</h1>
    <h2>member count : {{group.members.count}}</h2>
    <p>{{group.description}}</p>
    
    {% if user in group.members.all %}
    <!--유저가 이 그룹에 속해있을때-->
        <a href="{%url 'groups:leave' slug=group.slug%}" class="btn btn-warning">
            <i class="fas fa-trash-alt"></i>leave
        </a>
    {% else %}
    <!--유저가 이 그룹에 속해 있지 않을때-->
        <a href="{%url 'groups:join' slug=group.slug%}" class='btn btn-warning'>
            <i class="fas fa-check-circle"></i>Join
        </a>
    {% endif %}
{%endblock%}